/* CSS para la web de banana league */
body{
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background: #000;
}

hr{
    border-color: #333333;
    border-width: 0.5px;
    margin: 60px auto;
}

/** TITULOS DE LA CABECERA */
.tituloPagina{
    width: 100%;
    margin: 0;
    position: relative;
}

.tituloPagina img{
    width: 100%;
    height: auto;
    max-height: 700px;
}

.tituloPagina h1.cabecera{
    font-size: 50px;
    position: absolute;
    color: #FFF;
    top: 30%;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #0a0a0a;
    letter-spacing: 10px;
}

/** ICONO DE HAMBURGUESA **/
.hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/** MENU ***/
header#menu{
    background-color: #121212;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

header#menu ul{
    margin: 0;
    padding: 0;
    font-size: 0;
    position: relative;
    z-index: 1;
    text-align: center;
}

header#menu li{
    display: inline-block;
    vertical-align: top;
}
    
header#menu li a{
    text-decoration: none;
    font-size: 12px;
    display: block;
    line-height: 40px;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 300;
    color: white;
    font-family: 'Oxygen', sans-serif;
    transition: 0.5s ease;
}

header#menu.scrolling li a{
    font-size: 16px;
    line-height: 60px;
    transition: 0.5s ease;
}

header#menu a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4c4c4c;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity .3s;
}

header#menu a:hover:after, header#menu a:focus:after, header#menu a.active:after{
    color: white;
    opacity: 1;
}
    
/** contenido **/
#container{
    min-height: 900px;
    width: 1200px;
    margin: 0 auto;
    color: #FFF;
}

.noticia h2{
    color: #cc9900;
}

.noticia p{
    font-weight: 300;
}

.noticia a{
    color: #cc9900;
    text-decoration: none;
}

/** equipos ***/
.equipo{
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    transition: 0.5s ease;
}

.equipos .equipo:hover, .equipos .equipo.selected{
    background: #4c4c4c;
}

.equipo .main{
    cursor: pointer;
}

.equipo .datos{display: none;}

.equipo img.logoEquipo{
    width: 70px;
    border-radius: 50px;
    transition: 0.5s ease;
    vertical-align: middle;
}

.equipo:hover img.logoEquipo, .equipo.selected img.logoEquipo{
    border-radius: 0;
    border: none;
}

.equipo h2.nombre{
    display: inline-block;
    vertical-align: sub;
    height: auto;
    margin: 0 0 0 20px;
    font-size: 30px;
    color: #cc9900;
}

.equipo p {
    font-weight: bold;
    font-size: 18px;
}

.equipo p span {
    font-weight: normal;
    font-size: 15px;
}

/*** calendarios **/
.seleccion h2{
    color: #cc9900;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 49%;
    cursor: pointer;
    padding: 5px;
    transition: 0.3s ease;
}

.seleccion h2.selected, .seleccion h2:hover{
    border-bottom: 5px solid;
}

.partido{
    margin: 50px 0;
}

.partido h2.equipo{
    display: inline-block;
    vertical-align: sub;
    height: auto;
    margin: 0 10px;
    font-size: 30px;
    color: #cc9900;
}

.partido h2.equipo.ganador{
    color: #2db532;
}

.partido h2.equipo.perdedor{
    color: #DC0000;
}

.partido img{
    width: 70px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
}

.partido div span{
    font-size: 25px;
    vertical-align: middle;
    margin: 0 20px;
}

.partido p.fecha{
    margin: 0 0 20px 0;
    border-bottom: 1px solid;
    font-size: 20px;
}

.partido a.twitch {
    color: #FFF;
    border: 1px solid #4b367c;
    background: #4b367c;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.4s ease;
}

.partido a.twitch:hover {
    background: transparent;
    color: #4b367c;
}

.partido a.overview{
    color: #000;
    border: 1px solid #cc9900;
    background: #cc9900;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.4s ease;
}

.partido a.overview:hover {
    background: transparent;
    color: #cc9900;
}

/** clasificacion */
h2.liga{
    display: inline-block;
    vertical-align: sub;
    height: auto;
    margin: 0 10px;
    font-size: 30px;
    color: #cc9900;
}

table.clasificacion{
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

table.clasificacion thead{
    color: #cc9900;
    font-size: 22px;
}

table.clasificacion thead tr td{
    border-bottom: 1px solid #cc9900;
    text-align: left;
}

table.clasificacion tbody{
    color: #FFF;
    font-size: 18px;
}

table.clasificacion tbody tr td{
    padding: 15px;
}

table.clasificacion tbody tr:nth-child(even){
    background: #4c4c4c;
}

/* jornadas */
.jornada h2.semana{
    display: inline-block;
    vertical-align: sub;
    height: auto;
    margin: 40px 0;
    font-size: 30px;
    display: block;
    color: #cc9900;
}

.jornada p.equipo{
    display: inline-block;
}

.jornada .partido{
    width: 49%;
    margin: 10px 0;
    display: inline-block;
}